/* Main Body & Background */

.main-container {
  background: rgba(245, 244, 245, 0.8);
  padding: 30px;
  margin: 30px auto;
  max-width: 800px;
}

body {
  height: 100%;
  background-image: url("Images/sky-background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding: 45px;
  /* backdrop-filter: brightness(1.5); */
}

.card {
  background-color: none;
}

/* Typography */

h1,
h2,
h3,
h4,
h5 {
  font-family: "Urbanist", sans-serif;
  margin: 0px;
}
.date-heading {
  text-align: center;
}

h6 {
  font-family: "Urbanist", sans-serif;
  text-transform: uppercase;
}

.main-container h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 37px;
  margin: 10px 0 10px 0;
  font-weight: 700;
  color: #4d5877;
}

.main-container h2 {
  font-weight: 700;
}

/* Form Styling */

.weather-search-form form {
  margin: 20px 0px;
}

.weather-search-input {
  font-family: "Urbanist", sans-serif;
  font-style: italic;
  display: inline;
  margin-bottom: 15px;
}

.weather-search-button {
  font-family: "Urbanist", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

.btn.weather-search-button {
  border-radius: 0px;
  background: #576687;
  border: none;
}

.btn.weather-search-button:hover,
.btn.weather-search-button:active {
  background: #465576;
}

.units {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
}

.units a {
  color: #576687;
}

.units .active {
  color: #000;
}

.units a:hover {
  text-decoration: none;
  color: #6c757d;
}

/* Main Weather Highlight */

.main-container .todays-weather-highlight {
  border: none;
  border-radius: 0px;
  background: none;
}

.todays-weather-highlight .temp-column,
.todays-weather-highlight .icon-column {
  text-align: right;
}

.todays-weather-highlight {
  margin-bottom: 0px;
}

.main-container .todays-weather-city {
  margin-bottom: 0;
  font-size: 50px;
  font-weight: 700;
}

.main-container .todays-weather-type {
  font-family: "Urbanist", sans-serif;
  font-style: italic;
  margin-bottom: 0px;
}

.main-container .todays-weather-temp {
  font-size: 50px;
  margin: 0;
  font-weight: 700;
}

/* Other Days */

.main-container hr {
  margin: 35px 75px 50px 75px;
}

.other-days-card {
  border: none;
  border-radius: 0px;
  background: #576687;
  color: #fff;
  padding: 15px 10px 5px 10px;
  text-align: center;
}

.other-days-weather-icon {
  font-size: 30px;
  margin-bottom: 10px;
}

.card-title .other-days-card-title {
  font-size: 24px;
  font-family: "Urbanist", sans-serif;
}

.main-container .other-days-card-temp {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 0px;
}

.other-days-card .card-text {
  font-family: "Urbanist", sans-serif;
}

/* Footer */
.footer-link-column {
  text-align: center;
  margin-top: 15px;
}

.footer-link {
  font-family: monospace;
  color: #576687;
}
